body {
  height: 100%;
}
.art-page {
  background: #0b0c10;
  height: 100%;
}
.right {
  float: right;
}
.left {
  float: left;
}
.return-button {
  background-color: transparent;
  color: #66fcf1;
  padding: 5px 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: #66fcf1 solid 2px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 16px;
  vertical-align: bottom;
  margin: 1px 0 0 5%;
}
.edit-button {
  background-color: transparent;
  color: #66fcf1;
  padding: 5px 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: #66fcf1 solid 2px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 16px;
  vertical-align: bottom;
  margin: 1px 5% 0 0;
}
.edit-button:hover {
  cursor: pointer;
}
.image-title {
  color: white;
  text-align: center;
  margin: 3% auto 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;
  font-weight: 100;
  width: 100%;
}
.title-label {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 32px;
}
label {
  margin: 1% 0 0 0;
  display: block;
}
.image-container {
  width: 40%;
  height: auto;
  margin: 3% auto;
}
.image {
  width: 100%;
}
hr {
  width: 90%;
  margin: 0 auto;
  height: 0.5px;
  border: none;
  background-color: rgb(91, 94, 95);
}
.tag-section {
  text-align: right;
}
.information-container {
  width: 90%;
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr;
}
.information {
  margin: 1% 0;
  color: white;
}
.tags {
  color: white;
  margin: 0 0 0 10px;
}

.description {
  color: white;
  margin: 25px 0 25px;
  text-align: center;
  font-size: 48px;
  font-weight: 100;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.sub-text {
  color: white;
  margin: 25px 0 50px;
  text-align: center;
  font-size: 28px;
  font-weight: 100;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.border {
  margin: 5% 10%;
  border: #3700b3 solid 2px;
  text-align: center;
  padding: 0;
}
.border2 {
  margin: 3%;
  border: #66fcf1 solid 2px;
  text-align: center;
  padding: 5%;
}
.gbutton {
  background-color: transparent;
  color: #66fcf1;
  padding: 10px 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: #66fcf1 solid 2px;
  border-radius: 25px;
  text-decoration: none;
}
.gbutton:hover {
  cursor: pointer;
}

.input {
  margin: 5px auto 0;
  padding: 5px 0 5px 5px;
  border-width: 2px;
  border-radius: 5px;
  border-color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  background-color: #1f2833;
}
.thirty-two {
  font-size: 32px;
}
.sixteen {
  font-size: 16px;
}
.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.save-button {
  text-align: center;
  margin: 0 auto 3%;
}
.button {
  font-size: 18px;
  background-color: transparent;
  color: #66fcf1;
  padding: 10px 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: #66fcf1 solid 2px;
  border-radius: 25px;
  text-decoration: none;
  margin: 0 5px;
}
.button:hover {
  cursor: pointer;
}
.feedback {
  width: 90%;
  text-align: center;
  margin: 20px auto 3px;
  border-radius: 5px;
  background-color: #66fcf1;
  padding: 5px 5px 10px 5px;
  color: #0b0c10;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}
