.error-page {
  background: black;
}
.description {
  color: white;
  margin: 25px 0 25px;
  text-align: center;
  font-size: 48px;
  font-weight: 100;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.sub-text {
  color: white;
  margin: 25px 0 30px;
  text-align: center;
  font-size: 28px;
  font-weight: 100;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.border {
  margin: 5% 10%;
  border: #3700b3 solid 2px;
  text-align: center;
  padding: 0;
}
.border2{
  margin: 3%;
  border: #66fcf1 solid 2px;
  text-align: center;
  padding: 5%;
}
